In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('contacts_fixed.csv', sep=';', header=0)

In [4]:
data

      ContactId  GenderCode  ...  has_last_halfyear_transaction churn_prob
0             1         NaN  ...                              0          0
1             2         1.0  ...                              1          0
2             4         NaN  ...                              1          0
3             5         NaN  ...                              1          0
4             6         NaN  ...                              1          0
...         ...         ...  ...                            ...        ...
9979       9992         NaN  ...                              0        100
9980       9993         2.0  ...                              0        100
9981       9994         2.0  ...                              0        100
9982       9995         2.0  ...                              0        100
9983       9996         2.0  ...                              0        100

[9984 rows x 20 columns]

In [21]:
data_train = data[['GenderCode','DoNotEMail','sendsms','has_last_week_transaction','has_last_month_transaction','has_last_halfyear_transaction', 'balance','credit','debet','quantity','summ','average_cheque']]

In [22]:
data_train['balance'] = data_train['balance'].str.replace(',', '.').str.replace(' ','').astype(float).fillna(0)
data_train['credit'] = data_train['credit'].str.replace(',', '.').str.replace(' ','').astype(float).fillna(0)
data_train['debet'] = data_train['debet'].str.replace(',', '.').str.replace(' ','').astype(float).fillna(0)
data_train['quantity'] = data_train['quantity'].fillna(0)
data_train['summ'] = data_train['summ'].str.replace(',', '.').str.replace(' ','').astype(float).fillna(0)
data_train['average_cheque'] = data_train['average_cheque'].str.replace(',', '.').str.replace(' ','').astype(float).fillna(0)

data_train['GenderCode'] = data_train['GenderCode'].fillna(0)
data_train['DoNotEMail'] = data_train['DoNotEMail'].fillna(1)
data_train['sendsms'] = data_train['sendsms'].fillna(0)
data_train['has_last_week_transaction'] = data_train['has_last_week_transaction'].astype(bool)
data_train['has_last_month_transaction'] = data_train['has_last_month_transaction'].astype(bool)
data_train['has_last_halfyear_transaction'] = data_train['has_last_halfyear_transaction'].astype(bool)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [23]:
#data_train.dropna(inplace=True)
data_train

      GenderCode  DoNotEMail  sendsms  ...  quantity       summ  average_cheque
0            0.0           0        1  ...         3   58444.33        19481.44
1            1.0           0        1  ...       106  382508.26         3608.57
2            0.0           1        1  ...       176  224307.11         1274.47
3            0.0           1        1  ...        10   10966.77         1096.68
4            0.0           1        1  ...        56   70281.37         1255.02
...          ...         ...      ...  ...       ...        ...             ...
9979         0.0           1        1  ...         1    7977.18         7977.18
9980         2.0           1        1  ...         1    2468.23         2468.23
9981         2.0           1        1  ...        14   33165.62         2368.97
9982         2.0           1        1  ...         5    3600.93          720.19
9983         2.0           1        1  ...         1    1862.31         1862.31

[9984 rows x 12 columns]

In [24]:
churn = data['churn_bool']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(data_train, churn, test_size=0.2, random_state=42)

In [26]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [27]:
clf.score(X_test, y_test)

0.9384076114171257

In [54]:
a = np.array(X_test.iloc[4]).reshape(1,-1)

In [55]:
clf.predict(a)

array([0])

In [57]:
X_test.iloc[3]

GenderCode                             0
DoNotEMail                             1
sendsms                                1
has_last_week_transaction          False
has_last_month_transaction         False
has_last_halfyear_transaction      False
balance                                0
credit                           28776.9
debet                            28776.9
quantity                               3
summ                             4603.32
average_cheque                   1534.44
Name: 9202, dtype: object